* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 50px;
  background-image: url(/background/Background_library.jpg);
  height: 100%;
}

.container {
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  min-width: 550px;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 35px;
}

h6 {
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

.submit-button {
  display: flex;
}

.btn {
  border-radius: 20px;
  margin: 10px auto 10px;
  background-color: rgba(67, 133, 67)
}

.btn:hover {
  background-color: rgba(39, 99, 39, 0.652);
}

hr {
  margin-bottom: 15px;
  border-width: 0.5px;
  border-color: rgba(227, 227, 229, 0.394);
  width: 50%;
}

label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.734)
}

input {
  color: white;
  font-size: 14px;
}

th, td {
  color: white;
  padding: 10px;
  font-size: 13px;
}

th {
  position: sticky;
  top: 0;
  background-color: rgb(53, 53, 53);
  padding: 15px;
}

th:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(53, 53, 53);
}

th:nth-child(2) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(53, 53, 53);
}
th:nth-child(3) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(53, 53, 53);
}

th:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(53, 53, 53);
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  height: 300px;
  overflow: auto;
}

.table-scroll::-webkit-scrollbar {
  display: none;
}

.first-tr {
  border: none;
  padding: 20px;
}

tr:last-child {
  border: none;
}

.th-remove {
  text-align: right;
}

.btn-remove {
  float: right;
  background-color: rgba(217, 152, 41, 0.79);
}

.btn-remove:hover {
  background-color: rgba(187, 127, 23, 0.635);
}

footer {
  font-size: 12px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.search-box {
  text-align: center;
}

.empty-line {
  margin-bottom: 20px;
}

.success {
  background-color: rgb(67, 133, 67);
  text-align: center;
  width: fit-content;
}

.error {
  background: rgb(188, 82, 82);
  text-align: center;
  width: fit-content;
  position: inherit;
}

.removal {
  background: rgb(187, 127, 23);
  text-align: center;
  width: fit-content;
}

.search {
  background: rgb(23, 140, 187);
  text-align: center;
  width: fit-content;
}

.alert {
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
}

.info-button {
    background-color: rgba(57, 57, 59, 0.842);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 15px;
    padding: 10px;
    min-width: 60px;
    color: rgb(212, 216, 220);    
    margin-top: 30px;
    text-align: center;
    cursor:pointer;
}

.info-button:hover {
  background-color: rgba(91, 94, 97, 0.831)
}

/* Modal styling */

.modal {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 10;
  background-color: rgb(222, 222, 222);
  width: auto;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
}

.modal-body {
  padding: 5px 10px 25px;
  text-align: center;
  font-size: 12px;
  white-space: pre-line;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, .7);
  pointer-events: none;
}

#overlay.active {
  pointer-events:all;
  opacity: 1
}